.timeline {
    width: 800px;
    height: 350px;
    overflow: hidden;
    margin: 100px auto;
    position: relative;
    background: url('../images/dot.gif') left 45px repeat-x;
    background-color: #ff00ff;
}